<h1>Edit Actor <%=@actor.id%></h1>

<!-- need action -->
<form action="/actors/update_row/<%=@actor.id%>">
  <label for="dob">dob</label>
  <input type="text" id="dob" name="dob" placeholder="dob" value="<%=@actor.dob%>">

  <label for="name">name</label>
  <input type="text" id="name" name="name" placeholder="name" value="<%=@actor.name%>">

  <label for="bio">bio</label>
  <input type="text" id="bio" name="bio" placeholder="bio" value="<%=@actor.bio%>">

  <label for="image_url">Image URL</label>
  <input type="text" id="image_url" name="image_url" placeholder="Image URL" value="<%=@actor.image_url%>">

  <button type="submit">Update Actor</button>
</form>
