<h1>Movies</h1>

<table>
  <tr>
    <th>Image</th>
    <th>Title</th>
    <th>Year</th>
    <th>Duration</th>
    <th>Description</th>
    <th>Director ID</th>
  </tr>
  <% @list_of_movies.each do |movie| %>
  <tr>
    <td>
      <img src="<%= movie.image_url %>">
    </td>
    <td>
      <%= movie.title %>
    </td>
    <td>
      <%= movie.year %>
    </td>
    <td>
      <%= movie.duration %>
    </td>
    <td>
      <%= movie.description %>
    </td>
    <td>
      <%= movie.director %>
    </td>
    <td>
      show
    </td>
    <td>
      edit
    </td>
    <td>
      delete
    </td>
  </tr>
  <% end %>
</table>
